a {
    color: #09355C;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
header.masthead {
    padding: 75px 0;
    text-align: center;
    color: #fff;
    background-color: #09355C;
    background-image: url(../img/833.png);
}
.btn-primary {
    color: #fff;
    background-color: #09355C;
    border-color: #112e48;
}
.btn-primary:hover {
    color: #fff;
    background-color:#275782;
    border-color: #112e48;
}
footer .footer-mailchimp {
    padding: 50px 0;
    color: #fff;
    background-color: #09355C;
    background-image: url(../img/833.png);
}
.p-t-35px{
    padding-top: 35px;
}
.page-heading {
    background-color: #09355C;
    background-image: url(../img/833.png);
}